.imglul{
    width: 400px;
}
.images{
    display: inline;
}

.images2{
    display: inline;
}
.ss{
    text-align: center;
}

.hello{
    left: 180px;
    margin-top: 50px;
}
.row{
    text-align: left;
}
.about{
    display: block;
    margin-top: 20px;
}

.text{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 30px;
}

.imglul1{
    width: 100px;
    height: 100px;
}
.text2{
    display: inline;
}

.text{
    font-size: 15px;
    margin-left: 10px;
}

.uulul{
    margin-top: 30px;
}